/* :root {
 --my-variable: hsl(0, 0%, 50%);
} */

* {
    box-sizing: border-box;
    font-family: "Poppins", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #eee; */
    margin: 1rem 0;
}

#everything {
    /* background-color: #fff; */
    border: 2px solid #eee;
    box-shadow: 0 0.25rem 1rem #ddd;
    margin: 0 auto;
    max-width: 40rem;
}

header {
    border-bottom: 1px solid #bfbfbf;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    /* padding: 0.75rem 0; */
}

.back-button {
    color: #000;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

h1 {
    font-size: 1.15rem;
    margin: auto;
    /* text-align: center; */
    max-width: max-content;
}

main {
    padding: 1.5rem;
}

.exclamation-yellow {
    background-color: #f2bd2b;
    border-radius: 3.5rem;
    color: #fff;
    font-size: 2.75rem;
    font-weight: 600;
    height: 3.5rem;
    line-height: 1.25;
    margin: 0 auto 1.5rem auto;
    text-align: center;
    user-select: none;
    width: 3.5rem;
}

p {
    text-align: center;
}

.button-link-blue {
    background-color: #026cdf;
    border-radius: 2px;
    color: #fff;
    display: block;
    /* font-weight: 600; */
    padding: 0.75rem;
    text-align: center;
}