/* :root {
 --my-variable: hsl(0, 0%, 50%);
} */

* {
    box-sizing: border-box;
    font-family: "Poppins", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #eee; */
    margin: 1rem 0;
}

#challenge-controls {
    text-align: center;
}

.hidden {
    display: none;
}

#everything {
    /* background-color: #fff; */
    border: 2px solid #eee;
    /* box-shadow: 0 0.25rem 1rem #ddd; */
    margin: 0 auto;
    max-width: 40rem;
}

header {
    border-bottom: 1px solid #bfbfbf;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    padding: 0.25rem 0;
}

.back-button {
    color: #333;
    font-size: 1.75rem;
    font-weight: 200;
    text-align: center;
}

h1 {
    font-size: 1.15rem;
    margin: auto;
    /* text-align: center; */
    max-width: max-content;
}

main {
    padding: 1.5rem;
}

.exclamation-yellow {
    background-color: #f2bd2b;
    border-radius: 3.5rem;
    color: #fff;
    font-size: 2.75rem;
    font-weight: 600;
    height: 3.5rem;
    line-height: 1.25;
    margin: 0 auto 1.5rem auto;
    text-align: center;
    user-select: none;
    width: 3.5rem;
}

p {
    text-align: center;
}

.button-link-blue {
    background-color: #026cdf;
    border-radius: 2px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    /* font-weight: 600; */
    margin: 0 auto;
    padding: 0.75rem;
    text-align: center;
    width: 100%;
}

.already-added-icon {
    display: block;
    margin: 0 auto;
}

.form-border {
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem #ccc;
    margin-bottom: 1rem;
}

fieldset {
    border: 0;
    display: flex;
    gap: 1.25rem;
    margin: 0 1rem;
    padding: 1.25rem 0;
}

fieldset:first-child {
    border-bottom: 1px solid #bfbfbf;
}

input[type=checkbox] {
    height: 1.75rem;
    width: 1.75rem;
}

.helptext {
    color: #777;
    display: block;
    font-size: 0.85rem;
}

input[type=tel] {
    font-size: 1.25rem;
    margin-top: 0.75rem;
}

label > b {
    display: block;
}
